div.divSimpleEditor {
  width: 100%;
  /* margin: 2%;
  padding: 2%; */
}

div.espaceVisualisationInitital {
	/* margin: 1%; */
  /* margin-bottom: 8%; */
}

h3.titreSection {
	margin-bottom: 2%;
/*   color: blue; */
}